[Unit]
Description=Minectaft Server
Documentation=https://github.com/sirikon/minecraft-service
After=network-online.target
Wants=network-online.target systemd-networkd-wait-online.service

[Service]
Restart=no

; User and group the process will run as.
User=${MINECRAFT_SERVICE_USER}
Group=${MINECRAFT_SERVICE_GROUP}

WorkingDirectory=${MINECRAFT_SERVICE_ROOT}
ExecStart=${MINECRAFT_SERVICE_ROOT}/scripts/start.sh
ExecStop=${MINECRAFT_SERVICE_ROOT}/scripts/stop.sh

; Use graceful shutdown with a reasonable timeout
KillMode=none
SuccessExitStatus=0 1

; Limit the number of file descriptors; see `man systemd.exec` for more limit settings.
LimitNOFILE=1048576
LimitNPROC=512

; Use private /tmp and /var/tmp, which are discarded after service stops.
PrivateTmp=true
; Use a minimal /dev (May bring additional security if switched to 'true', but it may not work on Raspberry Pi's or other devices, so it has been disabled in this dist.)
PrivateDevices=false
; Hide /home, /root, and /run/user. Nobody will steal your SSH-keys.
ProtectHome=true
; Make /usr, /boot, /etc and possibly some more folders read-only.
ProtectSystem=full
; … except /etc/ssl/caddy, because we want Letsencrypt-certificates there.
;   This merely retains r/w access rights, it does not add any new. Must still be writable on the host!
ReadWritePaths=${MINECRAFT_SERVICE_ROOT}/server

[Install]
WantedBy=multi-user.target
